@import "../../../aliases/theme/styles.css";

.header {
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 10px;
}

.right {
  margin-left: auto;
}

a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-background-color);
  padding: 20px;
}